<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>메인화면</h1>
	<ul>
		<li><a th:href="@{/campsites}">캠핑장 소개</a></li>
        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a th:href="@{/admin/campsites}">캠핑장 등록/관리</a>
        </li>
		<li><a th:href="@{#}">리뷰 게시판</a></li>
		<li><a th:href="@{#}">마이페이지</a></li>
	</ul>
	<ul>
		<li><a th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a></li>
		<li><a th:href="@{/member/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>
		<li><a th:href="@{/member/join}">회원가입</a></li>
	</ul>
</body>

</html>