<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>

<body>

  <h1>회원가입</h1>
  <form th:action="@{/member/join}" th:object="${memberDto}" method="post">
    <p th:if="${error}" th:text="${error}"></p>
    <div>
      권한 :
      <div th:each="memberRole: ${memberRoles}">
	    <input type="radio" th:field="*{memberRole}" th:value="${memberRole.name()}">
	    <label th:for="${#ids.prev('memberRole')}" th:text="${memberRole.text}"></label>
      </div>
    </div>
    <div>
      아이디 :
      <input type="text" th:field="*{memberId}">
	  <p th:errors="*{memberId}">Incorrect date</p>
    </div>
    <div>
      비밀번호 :
      <input type="password" th:field="*{memberPw}">
      <p th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></p>
    </div>
    <div>
      이름 :
      <input type="text" th:field="*{memberName}">
      <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></p>
    </div>
    <div>
      전화번호 :
      <input type="text" th:field="*{memberPhone}">
      <p th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}"></p>
    </div>
    <div>
      나이 :
      <input type="number" th:field="*{memberAge}">
    </div>
    <input type="submit" value="회원 가입">
  </form>
</body>

</html>