<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>로그인</h1>
  <form th:action="@{/member/login}" method="post">
    <div th:if="${param.error}">
      <div>
        ID 또는 비밀번호를 확인해 주세요.
      </div>
    </div>
    
    <div>
      아이디 :
      <input type="text" name="memberId">
    </div>
    <div>
      비밀번호 :
      <input type="password" name="memberPw">
    </div>
	<p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
    <input type="submit" value="로그인">
    <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
  </form>
  <input type="button" th:onclick="|location.href='@{/member/join}'|" value="회원가입">

</body>

</html>