<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>캠핑장 등록</h1>
  <form th:action="@{/admin/campsites/new}" th:object="${campsiteDto}" th:method="post" enctype="multipart/form-data">
    <div>
      캠핑장 이름
      <input type="text" th:field="*{campsiteName}">
    </div>
    <div>
      소개글
      <textarea th:field="*{campsiteIntroduction}" cols="30" rows="10"></textarea>
    </div>
    <div>
      주소
      <input type="text" th:field="*{campsiteAddress}">
    </div>
    <div>
      전화번호
      <input type="text" th:field="*{campsiteTel}">
    </div>

    <div>
      이용요금
      <input type="number" th:field="*{campsitePrice}">원
    </div>
    <div>
      최소 인원
      <input type="number" th:field="*{campsiteMin}">
    </div>
    <div>
      최대 인원
      <input type="number" th:field="*{campsiteMax}">
    </div>
    <div>
      입실 시간
      <input type="number" th:field="*{campsiteCheckin}">
    </div>
    <div>
      퇴실 시간
      <input type="number" th:field="*{campsiteCheckout}">
    </div>
 	<div>
        환경
		<div th:each="campsiteEnvironment: ${campsiteEnvironments}">
			<input type="checkbox" th:field="*{campsiteEnvironment}" th:value="${campsiteEnvironment.key}">
			<label th:for="${#ids.prev('campsiteEnvironment')}"
					th:text="${campsiteEnvironment.value}"></label>
		</div>
	</div>
    <div>
        편의시설
		<div th:each="campsiteFacilitie: ${campsiteFacilities}">
			<input type="checkbox" th:field="*{campsiteFacilitie}" th:value="${campsiteFacilitie.key}">
			<label th:for="${#ids.prev('campsiteFacilitie')}"
					th:text="${campsiteFacilitie.value}"></label>
		</div>
	</div>
    <div>
	    테마
		<div th:each="campsiteTheme: ${campsiteThemes}">
			<input type="checkbox" th:field="*{campsiteTheme}" th:value="${campsiteTheme.key}">
			<label th:for="${#ids.prev('campsiteTheme')}"
					th:text="${campsiteTheme.value}">서울</label>
		</div>
	</div>
    <div>
      이미지 <br>
      <label >대표 이미지1</label>
      <input type="file" name= "campsiteImgFiles"> <br>
      <label >소개 이미지1</label>
      <input type="file" name= "campsiteImgFiles">
      <label >소개 이미지2</label>
      <input type="file" name= "campsiteImgFiles">
    </div>
    
    <input type="submit" value="등록하기">
  </form>
</body>
</html>