<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>캠핑장 관리</title>

<section class="row">
	<th:block th:replace="fragments/left-side::side"></th:block>

	<div id="content" class="col">
		<div class="d-grid gap-2 mx-4 col-8 position-relative">
			<form th:action="@{|/admin/campsites/${existCampsite.campsiteId}|}"
				th:object="${existCampsite}" th:method="put" class="d-grid gap-2"
				enctype="multipart/form-data">

				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">캠핑장 이름</span> <input type="text"
						class="form-control" th:field="*{campsiteName}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold">캠핑장 소개</span>
					<textarea class="form-control" th:field="*{campsiteIntroduction}"></textarea>
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">캠핑장 주소</span> <input type="text"
						class="form-control" th:field="*{campsiteAddress}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">캠핑장 연락처</span> <input type="text"
						class="form-control" th:field="*{campsiteTel}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">이용 요금</span> <input type="number"
						class="form-control" th:field="*{campsitePrice}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">최소 인원</span> <input type="number"
						class="form-control" th:field="*{campsiteMin}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">최대 인원</span> <input type="number"
						class="form-control" th:field="*{campsiteMax}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">입실 시간</span> <input type="number"
						class="form-control" th:field="*{campsiteCheckin}">
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">퇴실 시간</span> <input type="number"
						class="form-control" th:field="*{campsiteCheckout}">
				</div>
				<!-- 		<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">환경</span> <input type="text"
						class="form-control" th:field="*{campsiteEnvironment}" readonly>
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">편의시설</span> <input type="text"
						class="form-control" th:field="*{campsiteFacilitie}" readonly>
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">테마</span> <input type="text"
						class="form-control" th:field="*{campsiteTheme}" readonly>
				</div> -->

				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold">환경</span>
					<div class="form-control d-flex flex-row flex-wrap">
						<div th:each="environment: ${environments}" class="mx-2">
							<label th:for="${#ids.next('environments')}"
								th:text="${environment}"></label> <input type="checkbox"
								th:field="*{environments}" th:value="${environment}">
						</div>
					</div>
					<p th:errors="*{environments}" class="text-danger"></p>
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold">편의시설</span>
					<div class="form-control d-flex flex-row flex-wrap">
						<div th:each="facilitie: ${facilities}" class="mx-2">
							<label th:for="${#ids.next('facilities')}" th:text="${facilitie}"></label>
							<input type="checkbox" th:field="*{facilities}"
								th:value="${facilitie}">
						</div>
					</div>
					<p th:errors="*{facilities}" class="text-danger"></p>
				</div>
				<div class="input-group input-group-sm row">
					<span class="input-group-text col-3 fw-bold"
						id="inputGroup-sizing-sm">테마</span>
					<div class="form-control d-flex flex-row flex-wrap">
						<div th:each="theme: ${themes}" class="mx-2">
							<label th:for="${#ids.next('themes')}" th:text="${theme}"></label>
							<input type="checkbox" th:field="*{themes}" th:value="${theme}">
						</div>
					</div>
					<p th:errors="*{themes}" class="text-danger"></p>
				</div>

				<div class="input-group row">
					<label class="input-group-text col-3 fw-bold"
						for="inputGroupFile01">대표 이미지</label> <input type="file"
						class="form-control" id="inputGroupFile01" name="campsiteImgFiles">
				</div>
				<div class="input-group row">
					<label class="input-group-text col-3 fw-bold"
						for="inputGroupFile01">소개 이미지</label> <input type="file"
						class="form-control" id="inputGroupFile01" name="campsiteImgFiles">
				</div>
				<div class="input-group row">
					<label class="input-group-text col-3 fw-bold"
						for="inputGroupFile01">소개 이미지</label> <input type="file"
						class="form-control" id="inputGroupFile01" name="campsiteImgFiles">
				</div>
				<div class="">
					<input type="submit" value="수정"
						class="btn btn-outline-success float-end mx-3">
				</div>
			</form>
			<form th:action="@{|/admin/campsites/${existCampsite.campsiteId}|}"
				th:method="delete" class="position-absolute bottom-0 start-0">
				<input type="submit" value="삭제" class="btn btn-outline-danger">
			</form>
		</div>
	</div>
</section>