<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>캠핑장 상세</title>

<section class="row">
	<div id="content" class="col-8 mx-auto">
		<div class="campsites row my-3">
			<div class="col-4 text-center">
				<img th:src="@{${campsite.campsiteMainImgPath}}" alt="이미지 없음"
					class="img-thumbnail border border-success campsite-main-img" />
			</div>
			<div class="col">
				<ul class="d-grid gap-3">
					<li class="row">
						<div class="col-4 fw-bold">캠핑장명</div>
						<div th:text="${campsite.campsiteName}" class="col"></div>
					</li>
					<li class="row">
						<div class="col-4 fw-bold">주소</div>
						<div th:text="${campsite.campsiteAddress}" class="col"></div>
					</li>
					<li class="row">
						<div class="col-4 fw-bold">연락처</div>
						<div th:text="${campsite.campsiteTel}" class="col"></div>
					</li>
					<li class="row">
						<div class="col-4 fw-bold">이용요금</div>
						<div th:text="|1박당 ${campsite.campsitePrice} 원|" class="col"></div>
					</li>
					<li class="d-grid gap-2 col-6"><input type="button"
						class="btn btn-success"
						th:onclick="|location.href='@{/reservation/{campsiteId}(campsiteId = ${campsite.campsiteId})}'|"
						value="예약하기"></li>
				</ul>
			</div>
		</div>
		<div>
			<h2 class="fs-3 p-4 border-top border-success">상세 정보</h2>
			<div class="px-4">
				<div>
					<table class="table table-borderless">
						<tbody>
							<tr>
								<th scope="row">소개글</th>
								<td th:text="${campsite.campsiteIntroduction}"
									class="text-break w-75"></td>
							</tr>
							<tr>
								<th scope="row">환경</th>
								<td th:text="${campsite.environments}"></td>
							</tr>
							<tr>
								<th scope="row">테마</th>
								<td th:text="${campsite.themes}"></td>
							</tr>
							<tr>
								<th scope="row">편의시설</th>
								<td th:text="${campsite.facilities}"></td>
							</tr>
							<tr>
								<th scope="row">1박 이용요금</th>
								<td th:text="|${campsite.campsitePrice} 원|"></td>
							</tr>
							<tr>
								<th scope="row">최소 이용 인원</th>
								<td th:text="|${campsite.campsiteMin} 명|"></td>
							</tr>
							<tr>
								<th scope="row">최대 이용 인원</th>
								<td th:text="|${campsite.campsiteMax} 명|"></td>
							</tr>
							<tr>
								<th scope="row">체크인 시간</th>
								<td th:text="|${campsite.campsiteCheckin} 시|"></td>
							</tr>
							<tr>
								<th scope="row">체크아웃 시간</th>
								<td th:text="|${campsite.campsiteCheckout} 시|"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:each="campsiteImg: ${campsiteImgs}">
					<img th:src="@{${campsiteImg}}" class="img-fluid my-2" />
				</div>
			</div>
		</div>
	</div>
</section>