<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>캠핑장 관리</h1>
  <form>
    <div>
      캠핑장 이름
      <input type="text">
    </div>
    <div>
      소개글
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      환경
      <input type="text">
    </div>
    <div>
      편의시설
      <input type="text">
    </div>
    <div>
      주소
      <input type="text">
    </div>
    <div>
      전화번호
      <input type="text">
    </div>
    <div>
      이용요금
      <input type="number">원
    </div>
    <div>
      최소 인원
      <input type="number">
    </div>
    <div>
      최대 인원
      <input type="number">
    </div>
    <div>
      입실 시간
      <input type="time">
    </div>
    <div>
      퇴실 시간
      <input type="time">
    </div>
    <div>
      이미지 추가
      <input type="file">
    </div>
    <input type="submit" value="수정">
    <input type="button" value="삭제">
  </form>
</body>
</html>