<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>관심 캠핑장</title>

<section class="row">
	<th:block th:replace="fragments/left-side::side"></th:block>

	<div id="content" class="col">
		<div th:each="campsite: ${favoriteCampsites}" class=" d-flex flex-column mb-3 float-sm-start mx-3 text-center ">
			<img
				th:src="@{${campsite.campsiteMainImgPath}}"
				alt="이미지 없음" class="img-thumbnail border border-success campsite-main-img" />
			<span th:text="${campsite.campsiteName}"></span> 
			<form th:action="@{|/my-page/favorite/${campsite.campsiteId}|}"
				th:method="delete">
				<button type="submit" class="btn btn-link btn-lg">
					<i class="fa-solid fa-heart" style="color: red"></i>
				</button>
			</form>
		</div>
	</div>
</section>