<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>내 정보</h1>
  <table>
    <tbody>
      <tr>
        <th>아이디</th>
        <td>assdd2</td>
      </tr>
      <tr>
        <th>이름</th>
        <td>홍길동</td>
      </tr>
      <tr>
        <th>전화번호</th>
        <td>010-0000-9999</td>
      </tr>
      <tr>
        <th>나이</th>
        <td>28</td>
      </tr>
    </tbody>
  </table>
  <input type="button" value="수정">
  <input type="button" value="탈퇴">
</body>

</html>