<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>내 정보</h1>
  <ul>
  	<li>
  	  <a th:href="@{/my-page}">내 정보</a>
  	</li>
    <li sec:authorize="hasAnyAuthority('ROLE_USER')">
      <a th:href="@{/my-page/favorite}">관심 캠핑장</a>
    </li>
    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
      <a th:href="@{/admin/campsites}">캠핑장 등록/관리</a>
    </li>
  	<li>
  	  <a th:href="@{/my-page/reservation}" sec:authorize="hasAnyAuthority('ROLE_USER')">예약 조회</a>
  	  <a th:href="@{/admin/my-page/reservation}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">예약 관리</a>
  	</li>
  </ul>
  <table>
    <tbody>
      <tr>
        <th>아이디</th>
        <td th:text="${memberDto.memberId}"></td>
      </tr>
      <tr>
        <th>이름</th>
        <td th:text="${memberDto.memberName}"></td>
      </tr>
      <tr>
        <th>전화번호</th>
        <td th:text="${memberDto.memberPhone}"></td>
      </tr>
      <tr>
        <th>나이</th>
        <td th:text="${memberDto.memberAge}"></td>
      </tr>
    </tbody>
  </table>
  <input type="button" th:onclick="|location.href='@{/my-page/my-info}'|" value="회원정보 수정">
</body>

</html>