<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>회원 정보 수정</title>

<section class="row">
	<th:block th:replace="fragments/left-side::side"></th:block>

	<div id="content" class="col-7">
		<form th:action th:method="put" th:object="${memberDto}">
			<div class="input-group input-group-lg my-3 row">
				<span class="input-group-text col-3" id="inputGroup-sizing-lg w-25">아이디</span>
				<input type="text" class="form-control" th:field="*{memberId}"
					readonly>
			</div>
			<div class="input-group input-group-lg my-3 row">
				<span class="input-group-text col-3" id="inputGroup-sizing-lg w-25">이름</span>
				<input type="text" class="form-control" th:field="*{memberName}">
			</div>
			<div class="input-group input-group-lg my-3 row">
				<span class="input-group-text col-3" id="inputGroup-sizing-lg w-25">전화번호</span>
				<input type="text" class="form-control" th:field="*{memberPhone}">
			</div>
			<div class="input-group input-group-lg my-3 row">
				<span class="input-group-text col-3" id="inputGroup-sizing-lg w-25">나이</span>
				<input type="number" class="form-control" th:field="*{memberAge}">
			</div>
			<div class="d-flex justify-content-end">
				<input type="button" th:onclick="|location.href='@{/my-page}'|"
					value="취소" class="btn btn-outline-danger mx-2"> <input
					type="submit" value="수정" class="btn btn-outline-success mx-2">
			</div>
		</form>
		<form th:action th:method="delete">
			<input type="submit" value="회원탈퇴"
				class="btn btn-outline-danger btn-sm">
		</form>

	</div>
</section>
