<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">
  
<title>회원 정보</title>
  
<section class="row">
	<th:block th:replace="fragments/left-side::side"></th:block>

	<div id="content" class="col-7">
		<div class="input-group input-group-lg my-3 row">
			<div class="input-group-text col-3" id="inputGroup-sizing-lg w-25">아이디</div>
			<input type="text" class="form-control"
				th:value="${memberDto.memberId}" readonly>
		</div>
		<div class="input-group input-group-lg my-3 row">
			<span class="input-group-text col-3" id="inputGroup-sizing-lg">이름</span>
			<input type="text" class="form-control"
				th:value="${memberDto.memberName}" readonly>
		</div>
		<div class="input-group input-group-lg my-3 row">
			<span class="input-group-text col-3" id="inputGroup-sizing-lg">전화번호</span>
			<input type="text" class="form-control"
				th:value="${memberDto.memberPhone}" readonly>
		</div>
		<div class="input-group input-group-lg my-3 row">
			<span class="input-group-text col-3" id="inputGroup-sizing-lg">나이</span>
			<input type="text" class="form-control"
				th:value="${memberDto.memberAge}" readonly>
		</div>
		<div class="d-flex justify-content-center">
		  <input type="button" th:onclick="|location.href='@{/my-page/put/my-info}'|" value="회원정보 수정" class="btn btn-outline-success">
		</div>
	</div>
</section>
