<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>예약 정보</title>

<section class="row">
	<th:block th:replace="fragments/left-side::side"></th:block>

	<div id="content" class="col">
		<div th:each="reservation: ${reservations}"
			class="campsites row my-3 position-relative">
			<div class="col-4 text-center">
				<img alt="이미지 없음"
					th:src="@{${reservation.getCampsite().getCampsiteMainImgPath()}}"
					class="img-thumbnail border border-success campsite-main-img">
			</div>
			<div class="col">
				<ul class="d-grid gap-2">
					<li class="row mt-3">
						<div class="col-3">캠핑장 이름</div>
						<div th:text="${reservation.getCampsite().getCampsiteName()}"
							class="col"></div>
					</li>
					<li class="row">
						<div class="col-3">예약자 명</div>
						<div th:text="${reservation.getMember().getMemberName()}"
							class="col"></div>
					</li>
					<li class="row">
						<div class="col-3">이용 날짜</div>
						<div
							th:text="|${reservation.checkinDate}~${reservation.checkoutDate}|"
							class="col"></div>
					</li>
					<li class="row">
						<div class="col-3">인원 수</div>
						<div th:text="|${reservation.headCount} 명|" class="col"></div>
					</li>
					<li class="row">
						<div class="col-3">결제 금액</div>
						<div th:text="|${reservation.totalPrice} 원|" class="col"></div>
					</li>
					<li class="row">
						<div class="col-3">예약 상태</div>
						<div th:text="${reservation.reservationStatus.getValue()}"
							class="col"></div>
					</li>
				</ul>
				<div class="position-absolute top-50 end-0 translate-middle-y"
					th:if="${reservation.getReservationStatus().name()} == 'WAITING'"
					sec:authorize="hasAnyAuthority('ROLE_USER')">
					<form
						th:action="@{|/my-page/reservation/${reservation.reservationId}|}"
						th:method="delete">
						<input type="submit" value="예약 취소" class="btn btn-outline-danger my-2">
					</form>
				</div>
				<div class="position-absolute top-50 end-0 translate-middle-y"
					th:if="${reservation.getReservationStatus().name()} == 'WAITING'"
					sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
					<form
						th:action="@{|/admin/my-page/reservation/${reservation.reservationId}|}"
						th:method="put">
						<input type="submit" value="예약 승인" class="btn btn-outline-success my-2">
					</form>
					<form
						th:action="@{|/admin/my-page/reservation/${reservation.reservationId}|}"
						th:method="delete">
						<input type="submit" value="예약 취소" class="btn btn-outline-danger my-2">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>