<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>예약 정보</h1>
  <table>
    <tbody>
      <tr>
        <th>
          <div style="width: 150px; height: 150px; background-color: yellow;">캠핑장 썸네일1</div>
        </th>
        <td>
          <ul>
            <li>캠핑장 이름</li>
            <li>예약자 명</li>
            <li>이용 날짜</li>
            <li>인원 수</li>
            <li>예약 상태</li>
          </ul>
        </td>
        <td><input type="button" value="예약 취소"></td>
      </tr>
      <tr>
        <th>
          <div style="width: 150px; height: 150px; background-color: yellow;">캠핑장 썸네일2</div>
        </th>
        <td>
          <ul>
            <li>캠핑장 이름</li>
            <li>예약자 명</li>
            <li>이용 날짜</li>
            <li>인원 수</li>
            <li>예약 상태</li>
          </ul>
        </td>
        <td><input type="button" value="예약 취소"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>