<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>리뷰 작성</title>

<section>
	<div class="w-50 p-3 m-auto">
		<form th:action th:object="${reviewDto}" th:method="post" enctype="multipart/form-data">
			<div class="d-flex justify-content-center flex-wrap">
					<div class="input-group mt-3 w-50 pe-3">
			  			<span class="input-group-text">작성자</span>
						<input type="text" th:field="*{reviewWriter}" class="form-control" readonly>
					</div>
					<div class="input-group mt-3 w-50">
			  			<span class="input-group-text">이용 캠핑장</span>
						<select th:field="*{reviewCampsite}" class="form-select">
		       				<option value="">캠핑장 선택</option>
		        			<option th:each="campsite: ${campsites}" th:value="${campsite.campsiteName}" th:text="${campsite.campsiteName}"></option>
		      			</select>
					</div>
	      			<p th:errors="*{reviewCampsite}" class="text-danger"></p>
					<div class="input-group mt-3">
			  			<span class="input-group-text">제목</span>
						<input type="text" th:field="*{reviewTitle}" class="form-control">
					</div>
	      			<p th:errors="*{reviewTitle}" class="text-danger"></p>
					<div class="input-group mt-3">
						<span class="input-group-text">내용</span>
						<textarea th:field="*{reviewContent}" class="form-control"></textarea>
					</div>
	      			<p th:errors="*{reviewContent}" class="text-danger"></p>
	   				<div class="input-group row mt-3">
						<input type="file" name="reviewImg" class="form-control">
					</div>
					<div class="input-group row mt-3">
						<input type="file" name="reviewImg" class="form-control">
					</div>
					<div class="input-group row mt-3">
						<input type="file" name="reviewImg" class="form-control">
					</div>
	    			<div class="mt-3">
					    <input type="button" th:onclick="|location.href='@{/reviews}'|" value="취소"class="btn btn-outline-danger mx-3">
					    <input type="submit" value="등록" class="btn btn-outline-success">
	    			</div>
			</div>
	 	</form>
	</div>
</section>