<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>리뷰 상세</title>

<section>
	<div class="w-50 p-3 m-auto">
		<div class="d-flex justify-content-center flex-wrap">
			<div class="mb-3 w-50 pe-3">
				<label class="form-label">작성자</label> 
				<input type="text" th:value="${review.reviewWriter}" class="form-control" readonly disabled>
			</div>
			<div class="mb-3  w-50">
				<label class="form-label">이용 캠핑장</label> 
				<input type="text" th:value="${review.reviewCampsite}" class="form-control" readonly disabled>
			</div>
			<div class="mb-3  w-100">
				<label class="form-label">제목</label> 
				<input type="text" th:value="${review.reviewTitle}" class="form-control" readonly disabled>
			</div>
			<div class="mb-3  w-100">
				<label class="form-label">내용</label> 
				<textarea th:text="${review.reviewContent}" class="form-control" readonly disabled></textarea>
			</div>
			<div th:each="reviewImgPath: ${reviewImgPaths}" >
				<img th:src="@{${reviewImgPath}}" alt="" class="img-fluid mb-3"/>
			</div>
		</div>
		<div th:if="${isWriter}" class="d-flex">
			<div class="me-auto">
				<form th:action="@{|/reviews/delete/${review.reviewId}|}"
					th:method="delete" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
					<input type="submit" value="삭제" class="btn btn-outline-danger">
				</form>
			</div>
			<input type="button"th:value="수정하기" class="btn btn-outline-primary mx-3"
				th:onclick="|location.href='@{/reviews/put/{reviewId}(reviewId=${review.reviewId})}'|">
			<input type="button"th:value="목록으로" class="btn btn-outline-success"
				th:onclick="|location.href='@{/reviews}'|">
		</div>
	</div>
</section>